//Fall back Window codes
$('footer').before('<style>.reveal-modal-bg1 { position: fixed; height: 100%; width: 100%; background: rgba(0,0,0,0.45); z-index: 98; top: 0; right: 0; left: 0; } #tfsDclButton-chat-container .close-reveal-modal { float:right; text-decoration:none; color:#000 } .reveal-modal1 {position: absolute;left: 50%;z-index: 99;height: auto;margin-left: -40%;width: 80%;background-color: #fff;padding: 1.25em;border: solid 1px #666;-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4); box-shadow: 0 0 10px rgba(0,0,0,0.4); top: 0;} @media only screen and (min-width: 500px){.reveal-modal1 { padding: 1.875em; top: -30.25em;}} @media only screen and (max-width: 500px){#tfsDclButton-chat-container p { display:block !important; }}</style><div class="container"><div class="row"><div class="col-md-12 columns"> <div class="row"> <div id="tfsDclButton-chat-container" style=" display: none;"> <div class="reveal-modal1"> <div class="row"> <a class="close-reveal-modal"><span class="ico teal ico-cross">&#160;</span></a> <div class="columns col-lg-12"> <h4 class="heading-tertiary full-width left">Chat is in progress! Please switch the window to talk to our consultant!</h4> </div></div></div><div class="reveal-modal-bg1"> &nbsp; </div></div></div></div></div></div>');
/**
       This is a isMobile function to detect whether users are using mobile devices to visit the page, as we have two types of rule ID:
       one for mobile
       one for desktop
**/
var isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i);
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    }
};
// These are closePopup functions to close or fadeOut the fall back modal window
function closePopup() {
    $('#chatProgressContainer').fadeOut(200, function() {
        $('.reveal-modal-bg1').animate({
            opacity: 0
        }, 200, function() {
            $('.reveal-modal-bg1').attr('style', '');
        });
    });
}

//This function will detect users are using mobile devices or they are on desktop, there are different rule ID to be sent for mobile and desktop.
function checkButon(buttonID) {
    if (isMobile.any()) //Calling isMobile function to detect mobile devices or desktop 
    {
        //These codes for mobile devices 
        // Now, we check the button ID to identify which button is clicked
        switch (buttonID) {
            // An example, if the button ID "1A" is clicked
            case "clickToChat":
                //we create 3 variables, RULE ID(rid), QUEUE ID(qid) and CONTEXT(cxt).
                var queue_Id = "optus-consumer-service-fixed",
                    rule_Id = "CS-Fixed-Legacy",
                    chat_Context = "C2C-RPC-Fixed-Legacy-Mobi";
                //Call function to trigger pxSendData to send these variables to 247
                sendData(queue_Id, rule_Id, chat_Context, buttonID);
                break;
            default:
        }
    } else {
        //These codes for desktop
        switch (buttonID) {
            // An example, if the button ID "1A" is clicked
            case "clickToChat":
                //we create an object which has 3 variables such as RULE ID(rid), QUEUE ID(qid) and CONTEXT(cxt).
                var queue_Id = "optus-consumer-service-fixed",
                    rule_Id = "CS-Fixed-Legacy",
                    chat_Context = "C2C-RPC-Fixed-Legacy-Desk";
                //Call function to trigger pxSendData to send these variables to 247
                sendData(queue_Id, rule_Id, chat_Context, buttonID);
                break;
            default:
        }
    }
}
//Detect which chat button is triggered and send that id to the trigger function
$(window).bind('tfsDclButtonCallReady', function() {
    $('.chatTrigger').click(function(e) {
        e.preventDefault();
        // Id of the element that was clicked
        var elementId = $(this).attr('id'); // Store the data of which button on page is clicked
        checkButon(elementId); // Pass the button ID to this function
    });
});

function sendData(queue_Id, rule_Id, chat_Context, buttonID) {
    console.log(queue_Id + " " + rule_Id + " " + chat_Context);
    pxSendData({
        "PX_CALL_TYPE": 'click',
        'QUEUE_ID': queue_Id,
        'RULE_ID': rule_Id,
        'CHAT_CONTEXT': chat_Context,
        'BUTTON_ID': buttonID
    });
}