<!--%%[
	SET @SERVICE_CATEGORY = RequestParameter("service-category-button")
	IF @SERVICE_CATEGORY == "" THEN
		SET @SERVICE_CATEGORY = "HOME BROADBAND"
	ENDIF	

	VAR @VALIDATED

	IF @SERVICE_CATEGORY == "HOME BROADBAND" THEN	/*FIXED BROADBAND*/
		set @rows_limit = LookupRows("Rate Plan Change Fixed New","validateNumber",3)
		Set @currentDate=SystemDateToLocalDate(Now())
		SET @VALIDATED = 0

		if Rowcount(@rows_limit)>=1 then
			Set @row_e = Row(@rows_limit,1)
			Set @date_changed= Field(@row_e,"DateChanged")
			Set @num= Field(@row_e,"UserNumber")
			if  empty(@date_changed) then
				UpdateDE("Rate Plan Change Fixed New",1,"UserNumber",@num,"validateNumber",0)
			endif
		endif

		set @num =RequestParameter("msn")
		SET @day = RequestParameter("day")
		SET @month = RequestParameter("MonthOfBirth")
		SET @year = RequestParameter("year")
		set @dob=Concat(RequestParameter("day"),"-",RequestParameter("MonthOfBirth"),"-",RequestParameter("year"))
		set @postcode=RequestParameter("postcode")
		set @type=RequestParameter("smb-holder")

		if not empty(@num) and not empty(@postcode)  and not empty(@dob) and @dob!="--" then
			set @rows=LookupRows("Rate Plan Change Fixed New","UserNumber",@num,"Postcode",@postcode,"DateofBirth",@dob)
			set @row_number=LookupRows("Rate Plan Change Fixed New","UserNumber",@num)
			
			if RowCount(@row_number)>=1 then
			Set @nodob_row = Row(@row_number,1)
				Set @no_dob= Field(@nodob_row,"DateofBirth")
				if empty(@no_dob) then
					@VALIDATED = 3
				endif
			endif
			
			set @error_number=LookupRows("Rate Plan Change Fixed New","UserNumber",@num,"validateNumber",2)
			
			if Rowcount(@rows)>=1 and Rowcount(@row_number)>=1 and Rowcount(@error_number)<1 then 
				Set @row = Row(@rows,1)
				Set @currentDate=SystemDateToLocalDate(Now())
				if not empty(@endDate) then
					Set @diff=DateDiff(@endDate, @currentDate, "D")
					if @diff>=0 then
						SET @contract_status="No Contract"
					else
						SET @contract_status="In Contract"
					endif
				else
					SET @contract_status="Unknown"
				endif
				UpdateDE("Rate Plan Change Fixed New",1,"UserNumber",@num,"status","validated")
				
				
				/**** Redirect to Plan Selection on SUCCESS ****/
				SET @VALIDATED = 1
				SET @URL = "199188"
				IF NOT Empty(@type) THEN
					SET @type = "smb" 
				ENDIF
				
				SET @PASSINFO = MicrositeURL(@URL,
									"msn",@num,
									"year",@year,
									"MonthOfBirth",@month,
									"day",@day,
									"dob",@dob,
									"postcode",@postcode,
									"type",@type
								)
				Redirect(@PASSINFO)				
				
				
			elseif Rowcount(@row_number)!=1 and Rowcount(@error_number)<1 then
				set @donot_show="true"
				InsertDE("RatePlan-Fixed-Validation","UserNumber",@num,"Postcode",@postcode,"DateofBirth",@dob)
				
				SET @VALIDATED = 2 //wrong msn
				
			elseif Rowcount(@row_number)==1 and Rowcount(@rows)!=1 and Rowcount(@error_number)<1 then
				set @incorrect="true"
				Set @row_p = Row(@row_number,1)
				set @validate_number=Field(@row_p,"validateNumber")
				set @validate_number=add(@validate_number,1)
				UpdateDE("Rate Plan Change Fixed New",1,"UserNumber",@num,"validateNumber",@validate_number,"DateChanged",@currentDate)
				InsertDE("RatePlan-Fixed-Validation","UserNumber",@num,"Postcode",@postcode,"DateofBirth",@dob)
				
				SET @VALIDATED = 3 //wrong details
				
			elseif Rowcount(@error_number)>=1 then
				SET @VALIDATED = 4 // max tries
				set @incorrect="false"
				
			else
				set @incorrect="true"
			endif
			
			InsertDE("RatePlan-Fixed-Validation","UserNumber",@num,"Postcode",@postcode,"DateofBirth",@dob)	
		else

		endif
	ENDIF
	
]%%-->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
	<meta name="description" content="">
	<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
	<title>Rate Plan Change | Optus</title>
	<link rel="shortcut icon" href="https://www.optus.com.au/favicon.ico" />
	<link rel="stylesheet" href="https://image.exacttarget.com/lib/fe9412727565007a72/m/2/foundation_v5.5.2.css" />
	<link rel="stylesheet" href="https://smb.optus.com.au/opfiles/Shop/Consumer/Assets/AllFonts/all-fonts2.css">
	
	<link rel="stylesheet" href="https://image.exacttarget.com/lib/fe9412727565007a72/m/2/OCA_elements.css"/>
	<link href="https://smb.optus.com.au/opfiles/v11933/ys/online-style/css_min/optus-style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://image.exacttarget.com/lib/fe9412727565007a72/m/3/modules2.css">
	<link rel="stylesheet" href="https://image.exacttarget.com/lib/fe9412727565007a72/m/4/main_styles.css"/>
	<script src="https://image.exacttarget.com/lib/fe9412727565007a72/m/2/jquery-1.11.3.min.js"></script>
	<!--Console.log Fix -->
	<script type="text/javascript">
		if (!window.console) console = {
			log: function () {}
		};
	</script>
	<!--END Console.log Fix -->
	<script src="https://image.exacttarget.com/lib/fe9412727565007a72/m/2/foundation.min.js"></script>
	<script src="https://image.exacttarget.com/lib/fe9412727565007a72/m/2/modernizr.js"></script>
	<script src="https://image.exacttarget.com/lib/fe9412727565007a72/m/2/foundation.accordion.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation/foundation.abide.js"></script>
	<script src="https://image.exacttarget.com/lib/fe9412727565007a72/m/2/slick.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<!--[if lt IE 9]>        
            <link rel="stylesheet" href="https://image.exacttarget.com/lib/fe9412727565007a72/m/2/ie8fix.css">      
            <script src="https://image.exacttarget.com/lib/fe9412727565007a72/m/2/html5shiv.js"></script>
            <script src="https://image.exacttarget.com/lib/fe9412727565007a72/m/2/rem.shim.js"></script>
        <![endif]-->

	<style>	
		.fixedrpc-form {margin-bottom:2em;}	
		#main .row{padding:0px 0px 0px 0px;}
		#faq .row{padding-left:0px;padding-right:0px;}
		.nittyGrittyDiv.row{padding-top:0px;padding-left:0px;padding-right:0px;}
		.yes-tile {text-align:center;}
		.yes-tile .ico {/*margin-right: -0.5em;*/}
		.hidden {display: none;}		
		label {margin-bottom: 0.5em;}		
		form.custom .custom.dropdown.open.medium ul {min-width: 135px;}		
		form.custom .custom.checkbox.checked:before {margin-top: 4px;font-weight: bold;color: #fff;margin-left:-15px; position: relative;}	
		.hideError {background-color: #fdf3f0;color: #da3a00;-webkit-border-radius: 0.375em;border-radius: 0.375em;padding: 0.9375rem 0.9375rem;font-family: "TradeGothicLTPro", Arial, Helvetica, sans-serif;}
		.disabled {background:#e5e5e5 !important;}
		#main .center > .columns, .center > .column {margin-left:auto;	margin-right:auto;
                float:none !important;}		
		@media only screen and (max-width: 860px) {.logo {margin-left: 10px;}}
                #main .center > .columns, .center > .column {margin-left: auto;margin-right: auto;float: none;}
                .fixedrpc-form .row .columns input[type="text"]{border-radius:0px;margin-bottom:0px;border: 2px solid #ccc;}
                form.custom .custom.checkbox{border-radius:0px;}                
               .fixedrpc-form .row .columns .row{margin-bottom:1rem;}
               .fixedrpc-form{margin-top:2em;}
               .validateServiceHeading h3{text-transform:uppercase;}
	       .nittyGritty {padding: 0;border-radius: 0.35em;border: 1px solid #e5e5e5;}
	       #nittyGrittyContainer {padding-top: 1em;display: none;padding-left: 1em;padding-right: 1em;}
	       .errorMsg{color:#ff5a5f;display:none;margin-top:1em;}

		.fixedrpc-form h5{font-size:1rem;}
	       form.custom .hidden-field {margin-left: auto;visibility: visible;}
	       .visuallyhidden, form.custom .hidden-field {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
	       form.custom .custom.checkbox, form.custom .custom.radio {margin-right: 4px;margin-top: -2px;}	       
	       form.custom .custom {display: inline-block;width: 20px;height: 20px;position: relative;top: -1px;vertical-align: middle;border: solid 2px #ccc;background: #fff;}
	       form.custom .custom.checkbox.checked {background-color: #00a3ad; text-align:center;}
	       form.custom .custom.checkbox.checked, form.custom .custom.radio.checked {border-color: #00a3ad;}
	       .fixedrpc-form > .ico, form.custom .custom.checkbox.checked, .list-breadcrumb li, .nav-back-arrow {font-family: "optus-icons";display: inline-block;}	       
	       label {color: #191919;font-family: "TradeGothicLTPro-BdCn20",Arial,Helvetica,sans-serif;font-size:1em;}

	       form.custom .custom.dropdown.medium {max-width: 100% !important;width: 100%;}
	       form.custom .custom.dropdown {border: none;background: none;font-size: 1em;height: 3.125em;display: block;position: relative;top: 0;margin-bottom: 1.25em;margin-top: 0;padding: 0;box-shadow: none;vertical-align: top;}
	       form.custom .custom.dropdown .current {color: #ccc;font-family: "TradeGothicLTPro",Arial,Helvetica,sans-serif;font-weight: normal;-moz-border-radius-bottomleft: 0.375em;-moz-border-radius-topleft: 0.375em;
               padding: 0px 20px 0px 20px;padding: 0rem 1.25rem 0rem 1.25rem;line-height: 3.125em;border: 2px solid #ccc;border-right: none;height: 3.125em;background: #fff;margin: 0 3.125em 0 0;cursor: default;white-space: nowrap;text-decoration: none; overflow: hidden; display: block;}	      
               form.custom .custom.dropdown .selector {-moz-border-radius-topright: 0.375em;-moz-border-radius-bottomright: 0.375em;-webkit-border-top-right-radius: 0.375em;-webkit-border-bottom-right-radius: 0.375em;border-top-right-         radius: 0.375em;border-bottom-right-radius: 0.375em;background: #00a3ad no-repeat;background: -moz-linear-gradient(top, #00a3ad 0%, #00a3ad 95%, #008a92 95%, #008a92 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a3ad), color-stop(95%, #00a3ad), color-stop(95%, #008a92), color-stop(100%, #008a92));
                background: -webkit-linear-gradient(top, #00a3ad 0%, #00a3ad 95%, #008a92 95%, #008a92 100%);
                background: -o-linear-gradient(top, #00a3ad 0%, #00a3ad 95%, #008a92 95%, #008a92 100%);
                background: -ms-linear-gradient(top, #00a3ad 0%, #00a3ad 95%, #008a92 95%, #008a92 100%);
                background: linear-gradient(to bottom, #00a3ad 0%,#00a3ad 95%,#008a92 95%,#008a92 100%);
                -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF00A3AD', endColorstr='#FF008A92',GradientType=0 );
                padding-right: 16px;padding-right: 1rem;padding-left: 0.33333em;width: 1.66667em;height: 1.66667em;line-height: 1.66667em;font-size: 1.875em;text-decoration: none;}
		form.custom .custom.dropdown .selector {cursor: default;position: absolute;display: block;right: 0;top: 0;}
		form.custom .custom.dropdown .selector:before {color: #fff;font-family: "optus-icons";}
		form.custom .custom.dropdown ul {position: static;left: auto;box-shadow: none;border: none;max-height: none;overflow: visible;-webkit-border-radius: 0.375em;border-radius: 0.375em;}
		form.custom .custom.dropdown ul {position: absolute;width: auto;display: none;margin: 0;left: -2px;top: auto;-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
                margin: 0;padding: 0;background: #fff;border: solid 1px #ccc;font-size: 16px;}
		form.custom .custom.dropdown.open ul {width: 100%;display: block;margin-top: 12px;position: absolute;border: 2px solid #ccc;-webkit-border-radius: 0.375em;border-radius: 0.375em;z-index: 10;}
		form.custom .custom.dropdown ul li:first-child {-moz-border-radius-topleft: 0.375em;-webkit-border-top-left-radius: 0.375em;border-top-left-radius: 0.375em;-moz-border-radius-topright: 0.375em;-webkit-border-top-right- radius: 0.375em;border-top-right-radius: 0.375em;}
		form.custom .custom.dropdown ul li {padding: 0.5em 1.25em 0.5em 1.25em;font-size: 1em;color: #191919;-webkit-transition: all 300ms ease-out;-moz-transition: all 300ms ease-out;transition: all 300ms ease-out;}
                form.custom .custom.dropdown ul li {color: #555;cursor: default;min-height: 1.5em;line-height: 1.5em;
                margin: 0;white-space: nowrap;list-style: none;}
		form.custom .custom.dropdown ul li:hover {background: #e5e5e5;}	  
		form.custom .custom.dropdown ul li.selected {background: #fff;color: #006685;position: relative;}   
	        .ico-tick:before, form.custom .custom.checkbox.checked:before, form.custom .custom.dropdown ul li.selected:before {content: "\E0CE";}
		form.custom .custom.dropdown ul li.selected:before {right: 10px;position: absolute;color: #006685;font-family: "optus-icons";font-size: 1.5em;} 
		@media only screen and (max-width: 500px){.yes-tile .columns:nth-child(3n){clear: none;}.heading-primary {margin-top:0.8em !important;}}	
		
		.plan-tabs-holder {
    margin-bottom: 3em;
}

.service-category-button-wrapper {
	padding-right: 0.1em;
	display: inline-block;
}

.service-category-button-wrapper .ico {
	font-size: 1.5em;
	margin-right: 0;
	vertical-align: middle;
}

.service-category-button {
	border: 2px solid #e5e5e5 !important;
	border-radius: 5px 5px 0 0 !important;
	background: #e5e5e5 !important;
	padding: 1em;
	text-align: center;
	margin-bottom: -3px;
	font-family: "TradeGothicLTPro-BdCn20", Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	color: #666666;
	transition: none;
}

.service-category-button:hover,
.service-category-button:active,
.service-category-button:focus {
	background: #fff !important;
	color: #666666 !important;
}

.service-category-button.active {
	border-bottom: 3px solid #fff !important;
	background: #fff !important;
	color: #00A3AD !important;
}

@media only screen and (max-width: 500px) {
	.yes-tile .columns:nth-child(3n) {
		clear: none;
	}
	.heading-primary {
		margin-top: 0.8em !important;
	}
	.service-category-button-wrapper {
		width: 100%;
	}
	.service-category-button {
		border-radius: 5px 5px 5px 5px !important;
		margin-bottom: 5px;
	}
	.service-category-button.active {
		border-bottom: 2px solid #00A3AD !important;
		background: #00A3AD !important;
		color: #fff !important;
	}
	.plan-tabs {
		border-bottom: 0px;
		width: auto;
	}
}


.plan-tabs {
    border-bottom: 2px solid #e5e5e5;
    padding-left: 0;
}
	</style>
</head>
 
<body>
	<!-- <header class="theme-primary header-only">
	    <div id="global_header" class="header row collapse">      
         	<div class="columns large-12 medium-12 small-12">
		     	<div class="header-sitewide zindex-top">
					<a class="logo left" href="#"><span aria-hidden="true">Optus Home</span></a>
		     	</div>
		 </div>
	    </div>
	</header> -->
    <header class="white-bg">
	%%=ContentAreaByName("Shared items\Shared Contents\Microsites\Base Patterns\Headers\Simple Nav")=%%	
		<div class="row" style="padding:0 0;">
			<div class="column large-12">
				<h1 class="page-subcategory-heading heading-primary" style="font-size:3.5em; margin-top:0; text-transform:initial">Change my homephone<br>& broadband plan</h1>
				<h2></h2>
			</div>
		</div>
			
	</header>
	<div id="main" class="chown" style="padding-top:3em;">
		<div class="load-to-show row">
		
			<div class="columns large-12 medium-12 small-12">
				<div class="plan-tabs-holder overflowfix">
					<div class="plan-tabs">
						<div class="service-category-button-wrapper">
							<div class="">
								<a name="service-category-button" class="button no-style service-category-button full-width radius" data-value="POSTPAID MOBILE" data-content="postpaid-mobile" href="https://offer.optus.com.au/mobilerpc/"><span class="ico ico-share-services"></span> POSTPAID MOBILE</a>
							</div>
						</div>
						<div class="end service-category-button-wrapper">
							<div class="">
								<a name="service-category-button" class="button no-style service-category-button full-width radius active" data-value="HOME BROADBAND" data-content="home-broadband" href="https://offer.optus.com.au/fixedrpc/verification/"><span class="ico ico-internet"></span> HOME BROADBAND</a>
							</div>
						</div>
						<div class="service-category-button-wrapper">
							<div class="">
								<a name="service-category-button" class="button no-style service-category-button full-width radius" data-value="POSTPAID MOBILE BROADBAND" data-content="postpaid-mobile-broadband" href="https://offer.optus.com.au/mbbrpc/"><span class="ico ico-mobile-broadband"></span> POSTPAID MOBILE BROADBAND</a>
							</div>
						</div>	
						<div class="service-category-button-wrapper">
							<div class="">
								<a name="service-category-button" class="button no-style service-category-button full-width radius" data-value="POSTPAID MOBILE BROADBAND" data-content="postpaid-mobile-broadband" href="https://offer.optus.com.au/prepaidrpc/"><span class="ico ico-mobile-tablet-devices"></span> PREPAID MOBILE</a>
							</div>
						</div>													
					</div>
				</div>
			</div>
		
		
            <div class="columns large-8 medium-10 small-12 validateServiceHeading">
                               <h3 class="">Validate my service</h3>	
				<p>If you're an existing home phone and internet customer, you can check and see what plans you're eligible for below. Just enter your details, so we can confirm what's                               available for you.</p>

            </div>
			<div class="columns large-5 medium-8 small-12 end">
				
				<!-- START FIXED/BROADBAND -->				
				%%[ 
				IF @SERVICE_CATEGORY == "HOME BROADBAND" OR @SERVICE_CATEGORY == "MOBILE BROADBAND" THEN
					IF @VALIDATED != 1 AND @VALIDATED != 4 THEN 
				]%%
				
				<form name="formone" class="fixedrpc-form custom" id="formone" action="https://offer.optus.com.au/fixed/dev/fixed-verify/" method="post">
					<input value="%%=v(@SERVICE_CATEGORY)=%%" name="service-category-button" type="hidden">
					%%[ IF @SERVICE_CATEGORY == "MOBILE BROADBAND" THEN ]%%				
					<div class="row">
						<div class="columns large-12 medium-12 small-12">
							<div class="row service">
								<div class="columns large-4 medium-12 small-12">
									<label for="serviceType" class="">Service Type</label>
									<div class="custom dropdown medium">
										<a class="current" href="#">Postpaid</a>
										<a class="selector" href="#"> </a> 
										<ul class="custom-list">
											<li class="selected" id="Postpaid">Postpaid</li>
											<li id="Prepaid">Prepaid</li>
										</ul>
									</div>
									<select id="serviceType" name="serviceType" required aria-required="true" class="hidden">
										<option value="Postpaid" selected>Postpaid</option>
										<option value="Prepaid">Prepaid</option>
									</select>
								</div>
								<div class="columns large-5 medium-12 small-12 end">
									<!-- <label class="show-for-large-up">&nbsp;</label> -->
									<div class="prepaid-warning" style="display:none;"><p>Have you just recharged? You may need to wait 24 hours before we can validate your service.</p>
									</div>
	
								</div>
							</div>
						</div>
					</div>
					%%[	ENDIF ]%%
					
					<div class="row">
						<div class="columns large-12 medium-12 small-12">
							<div class="row">
								<div class="columns large-12  medium-12 small-12" style="">
									<label for="AccountNumber" class=""><h5>Service number%%[ IF @SERVICE_CATEGORY == "HOME BROADBAND" THEN ]%%/Optus broadband username%%[ ENDIF ]%%</h5></label>
									<input class="inputtext" value="%%=v(@num)=%%" id="msn" name="msn" required="" type="text" style="">
									<div class="RMSNError errorMsg">
										<p>Please enter your Optus broadband service number%%[ IF @SERVICE_CATEGORY == "HOME BROADBAND" THEN ]%% or username%%[ ENDIF ]%%</p>
									</div>
									%%[ IF @VALIDATED == 2 THEN ]%%
									<div class="MSNError" style="color:#ff5a5f;margin-bottom:1em;">
										%%[ IF @SERVICE_CATEGORY == "HOME BROADBAND" THEN ]%%
										<p style="">Oops! We're unable to locate your details in our system. Please check you have correctly entered your number or username. If you're a new customer, it may take up to 48 hours after activation for your details to be updated. <a href="#" class="chatTrigger" data-trigger="chatTrigger1">Chat with our team now</a></p>
										%%[ ELSE ]%%
										<p style="margin-top:0.5em;">Oops! We're unable to locate your details in our system. Please check you have correctly entered your number and service type. If you're a new customer, it may take up to 48 hours after activation for your details to be updated. <a href="#" class="chatTrigger" data-trigger="chatTrigger1">Chat with our team now</a></p>
										%%[ ENDIF ]%%
										
									</div>
									%%[ ENDIF ]%%
								</div>
								<div class="columns large-12 medium-12 small-12 end">
									<!-- <label class="show-for-large-up">&nbsp;</label>  -->
									%%[ IF @SERVICE_CATEGORY == "MOBILE BROADBAND" THEN ]%%	
									<p style="margin-top:0.5em;">You can find your service number on your bill, in My Account or in the My Optus App.</p>
									%%[ ELSE ]%%
									<p style="margin-top:0.5em;">When entering your landline number, be sure to include the area code and full number without spaces. i.e. 029XXX9XXX
									<br>When entering your username, do not include <b>@optusnet.com.au</b></p>
									%%[ ENDIF ]%%

								</div>
							</div>
						
							<div class="row dob">
								<div class="columns large-12 medium-12 small-12">
									<label for="DOBirth" class="" maxlength="2"><h5>Account holder's date of birth</h5></label>
									<div class="row">
										<div class="columns large-3  medium-2 small-4">
											<input class="inputtext" id="day" maxlength="2" name="day" placeholder="DD" type="text" value="%%=v(@day)=%%">
										</div>
										<div class="columns large-6  medium-3 small-4">
											<div class="custom dropdown medium">
												<a class="current" href="#">Month</a>
												<a class="selector" href="#"> </a> 
												<ul class="custom-list">
													<li data-value="January">January</li>
													<li data-value="February">February</li>
													<li data-value="March">March</li>
													<li data-value="April">April</li>
													<li data-value="May">May</li>
													<li data-value="June">June</li>
													<li data-value="July">July</li>
													<li data-value="August">August</li>
													<li data-value="September">September</li>
													<li data-value="October">October</li>
													<li data-value="November">November</li>
													<li data-value="December">December</li>
												</ul>
											</div>
											<select id="MonthOfBirth" name="MonthOfBirth" class="hidden">
												<option value="">Month</option>
												<option value="January">January</option>
												<option value="February">February</option>
												<option value="March">March</option>
												<option value="April">April</option>
												<option value="May">May</option>
												<option value="June">June</option>
												<option value="July">July</option>
												<option value="August">August</option>
												<option value="September">September</option>
												<option value="October">October</option>
												<option value="November">November</option>
												<option value="December">December</option>
											</select>
										</div>
										<div class="columns large-3 medium-3 small-4">
											<input class="inputtext" value="%%=v(@year)=%%" id="year" name="year" placeholder="YYYY" type="text" maxlength="4">
										</div> 
										
										<div id="InvalidError" class="columns large-12 medium-12 small-12 right" style="color:#ff5a5f;display:none; margin-top:-1em;margin-bottom:1em;">
											<p style="margin-top:0.5em;">Invalid Date. Please try again.</p>
										</div>

										<div id="DOBemp" class="columns large-12 medium-12 small-12 right" style="color:#ff5a5f;display:none; margin-top:-1em;margin-bottom:1em;">
											<p>Please enter your date of birth.</p>
										</div>
										
										
										
									</div>
									<div class="row">
									   <div class="columns large-12 medium-12 small-12">
											<label for="postcode" class=""><h5>Postcode:</h5></label>
											<input class="inputtext inputerror1" id="postcode" name="postcode" type="text" value="%%=v(@postcode)=%%">
										</div>
										<div id="postcodeError" class="columns large-12 medium-12 small-12 end errorMsg">
											<p>Please enter your postcode.</p>
										</div>

										%%[ IF @VALIDATED == 3 THEN ]%%
										<div id="wrongDetail" class="columns large-12 medium-12 small-12 end" style="color:#ff5a5f; margin-bottom:1em;">
											<p>
												Hmmm. The details you've entered don't match what we have in our system. Please check you have entered the Account holder details correctly.
											</p>
										</div>
										%%[ ENDIF ]%%
									</div>
								</div> 
							</div>
							<div class="row">
								<div class="columns large-6 medium-12 small-12">
									<label for="account-holder" id="account-holder-label">
										<input class="hidden-field" id="account-holder" name="account-holder" required type="checkbox">
										<span class="custom checkbox"></span>
										I am the account holder.
									</label>
								</div>								
								<div class="columns large-6 medium-12 small-12">								
									<label for="privacy_check" id="privacy_read">
										<input type="checkbox" id="privacy_check" name="privacy_check" class="hidden-field">
										<span class="custom checkbox"></span>
										I've read your <a href="http://www.optus.com.au/about/legal/privacy" target="_blank">privacy policy</a>.
										<input id="required_check"  type="text" name="required_check" value="" required style="display:none;"> 
									</label>
								</div>	
								<div class="columns large-12 medium-12 small-12">
									<label for="smb-holder" id="smb-holder-label" style="margin-top:1em; margin-bottom:0">
										<input class="hidden-field" id="smb-holder" name="smb-holder" type="checkbox">
										<span class="custom checkbox"></span>
										I am an Optus Business customer.
									</label>
								</div>
							</div>
							<div class="row">
							    <div class="accountHolderCheck columns large-12 medium-12 small-12" style="color:#ff5a5f;display:none;margin-bottom:1em;">
									<div class="hideError">Please confirm you are the account holder.</div>
								</div>
								<div class="columns large-12 medium-12 small-12" id="privacy_error" style="display:none;margin-bottom:1em;">
									<div class="hideError">Please ensure that you've read the privacy policy.</div>
								</div>
							</div>
						
							<div class="row">	
								<div class="columns large-12 medium-12 small-12 end">
									 <input type="submit" class="button radius yellow full-width" id="validate_details" value="VALIDATE MY SERVICE">
								</div>
							</div>
						</div>
					</div>
				</form>
				
				%%[ ELSEIF @VALIDATED == 1 THEN ]%%
				
				%%[ ELSEIF @VALIDATED == 4 THEN ]%%
				<form name="formone" id="formone" action="#" method="post">
					<div class="row">
						<div class="LimitError columns large-12 medium-12 small-12" style="color:#ff5a5f; margin-bottom:1em;">
							<p>You have exceeded your trial limit and can't proceed further. <a href="#" class="chatTrigger" data-trigger="chatTrigger2">Chat with our team now</a></p>
						</div>
					</div>	
				</form>
				%%[ ELSE ]%%
					
				%%[ 
					ENDIF 
				ENDIF
				]%%
			<!-- END FIXED/BROADBAND -->
			</div>
<!-- 			<div class="columns large-12 medium-12 small-12 end">
				<div class="row" style="margin-bottom:2em;">
					<div class="columns large-5 medium-6 small-12 center">
						<iframe style="height:315px; width:100%;" src="https://www.youtube.com/embed/Hjpqw4QO6qc">
						</iframe>
					</div> -->
					<!--
					 <div class="columns large-5 medium-6 small-12 center end">
						<iframe style="height:315px; width:100%;" src="https://www.youtube.com/embed/hSys8Y97flI?list=PLnl5HJOCopWC-kOmedi77aDeUBf1uD3tM">
						</iframe>
					</div>
					-->
					
<!-- 				</div>
			</div> -->
		</div>
	</div>		
	
	


	


<!--
<div class="" id="faq" name="faq">
		<div class="row row-spacer-bottom row-spacer">
			<div class="large-6 medium-6 small-12 columns right">
				
			</div>

			<div class=" large-6 medium-6 small-12 columns left">
				<h3 class="heading-secondary">FAQS</h3>
				<ul class="no-style" id="accordion">
					<li><a href="javascript:void(0);">What is the $20 broadband discount?</a>

						<div>
							<p>If you have an eligible home broadband plan and an eligible mobile phone plan with us you can receive $20 off your home broadband bill every month. Your eligible mobile and broadband services need to be in the same name and at the same billing address to get this discount. There’s a limit of one $20 discount per mobile and broadband bundle, and you’ll receive this discount as long as both your services are active.  
							</p>
						</div>
					</li>
					<li><a href="javascript:void(0);">How do I know I have an eligible Optus post-paid mobile?</a>

						<div>
							<p>Postpaid means you receive a monthly bill from us for your mobile plan. Due to technical limitations, a very small number of our postpaid mobile customers are not eligible for the discount, the ineligible products are: Optus Thuraya, Optus Fleet and all Optus Corporate products. 
							</p>
						</div>
					</li>
					<li><a href="javascript:void(0);">Can I keep my existing $10 bundle discount while taking on these plans?</a>

						<div>
							<p>No, the $10 mobile discount will be removed when taking up this offer. One $20 monthly discount applies per eligible broadband and post-paid mobile bundle. If you cease your eligible mobile plan the $20 bundle discount will be removed without notice. The broadband and mobile services must be in the same name and same billing address to be eligible for the $20 bundle discount. 
							</p>
						</div>
					</li>
					<li><a href="javascript:void(0);">When will I receive my discount?</a>

						<div>
							<p>When you have an eligible Optus broadband plan and purchase an eligible mobile plan, your $20 discount will appear on your first broadband bill after your purchase.</p>
						</div>
					</li>
					

				</ul>
				
			</div>
		</div>
	</div>-->
    <!-- Nitty Gritty Section-->
	<!--
	<div class="row row-spacer-top row-spacer-bottom nittyGrittyDiv">
    <div class="columns large-12">
        <div class="row white-bg nittyGritty ui-accordion ui-widget ui-helper-reset" id="nittyGritty" role="tablist">
            <div class="columns large-12 medium-12 small-12 ui-accordion-header ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-id-10" aria-controls="nittyGrittyContainer" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                <h3 class="blue" style="cursor:pointer; padding:1rem 0 0 0;">The nitty gritty<span class="ico ico-arrow-down right">&nbsp;</span></h3>
            </div>
            <div class="columns large-12 medium-12 small-12 ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="nittyGrittyContainer" aria-labelledby="ui-id-10" role="tabpanel" aria-hidden="true" style="display: none;">

                <p><strong>My Plan Plus Offer:</strong> 2 months' free access fee for Uber driver-partners who sign a new My Plan Plus service on a 24-month contract before 30 September 2016. Credit will appear on 3rd bill and cannot be transferred or redeemed for cash.
                    <br><strong>Eligibility:</strong> Only available for registered Uber driver-partners with an active Australian Uber invite code. Optus account name must match Uber Driver registration. Limit of one offer per Uber invite code. Cannot be used in conjunction with any other Optus postpaid mobile offer for Uber driver-partners, unless explicitly stated.

                </p>
                <p><strong>$60 My Plan Plus 12M SIM Only:</strong> Connect a new My Plan Plus (SIM Only) 12 month service by 30 September 2016 to get a $20 discount off the monthly access fees for the life of your plan. This discount will be applied as a monthly credit to the bill (prorated 1st month).
                    <br><strong>Eligibility:</strong> Only available for registered Uber driver-partners with an active Australian Uber invite code. Optus account name must match Uber Driver registration. Limit of one offer per Uber invite code. Cannot be used in conjunction with any other Optus postpaid mobile offer for Uber driver-partners, unless explicitly stated.
                    <br><strong>BYO Device:</strong> Check coverage and device compatibility at <a href="https://offer.optus.com.au/Redirect.aspx?EQ=w_MbVp8TMEe42R9KcbjyaOdX0Uc1os6BGney9nAve7rdM0UwIkJ5YCQAXAq8RkWsurOvhk6hZN6vXitLFzfs1u-3vq0jS3tyu02G8CJQvFYIJcuPwIbT9wlUU-e-wVqzp3vcoJz1sIafPEXMbwGeSeHauF_6b0q3IHTIi418IUE4G7yCmC8VhKoa6PAbaQKowMeRoq3HUgQO2iETmDnukPxZo9-LpWyV4YoIFQ9k_5MiTOay0QRVcZwTAsBvhUVGkQorbg2">optus.com.au/coverage</a>.

                </p>
                <p><strong>Coverage:</strong> The Optus 4G Plus network is available in all capital cities and hundreds of metro, regional and holiday towns with a compatible device and plan. Coverage varies by device. Check at <a href="https://offer.optus.com.au/Redirect.aspx?EQ=InhTY7pttLzDRJVQmoxHP4MHAuUkDQ6YVw5hXwoCgX5Hjsx0Eu6qJm3L9LrJL9dirF-rtas2hjofgmm8B8wkv5Bn5tSDUGURRqzuKvvyoAUgIBcXN0o3nSEuWxMRJ0wom2jq9tor3WbdqlNQbL80KR3ySQGwSKj99y23vM_CioEICjB_vOTCv52aXRmkO0T58dXFVcbZ27Wz9hV7ZRVgg3SMWIDedd1w6RHfK_zwmfLGOAMt9RE4crITdgkVlJPXzbv7Mg2">optus.com.au/coverage</a>
                </p>



                <p><b>Cancellation:</b> Your phone repayments are reduced by a monthly credit. If you need to cancel your plan there are no plan cancellation fees, simply pay out the full remaining cost of your phone which will include any amount that Optus was going to cover.</p>

                <p><strong>New Phone Trade Up: </strong>After 12 months you can pay a one-off fee of $99, return your current device in good working order to a <b>Yes Optus store</b> and buy a new device on a new 24-month plan. Alternatively if you wish to keep your original device simply pay out the full remaining cost of your device including any amount that Optus was going to cover, then upgrade to a new device on a new 24-month plan. For more info visit <a href="https://offer.optus.com.au/Redirect.aspx?EQ=xRxWSWn11vb74wRuGf8HHILR9fsrPjvVbCrFf-17uC0CFYTnJqaypNNCD9HHA8xkCwpux0Y9uhZTa_JzVJJEI6hWy_8ihBLdGtTyP5UAh_VyK1d-q9EUVogMp0UpwIHs5nwsZ-qrUsmAatz17_OM29Wh7i1d2YXYh9rVoVYtLOpnAIZPmbjxXtjpNxEGdxg_30CCBg5nHk_BP9V5hpH0LlckqX2nyZWy1pAh7pcJeIjVx4VTi2szRgFbCkKQL-IZB4Ze9H4dCTyaQDL2zqsNby5awtSv5I0ZLGxoGMGlsx-0hELeXiHA0">optus.com.au/newphonetradeup</a>.</p>

                <p><strong>National Talk Inclusions:</strong> Can be used for standard talk to Oz numbers, 13/1300 numbers and voicemail retrievals all within Australia.</p>

                <p><strong>International SMS/MMS on $40 My Plan Plus:</strong> Get unlimited standard international SMS and MMS to selected countries.</p>

                <p><strong>International Talk/Text Inclusions on $60/$80/$100/$120 My Plan Plus:</strong> Included minutes can be used for standard international calls to numbers in selected countries &amp; unlimited standard international SMS/MMS (selected countries). International minutes billed per minute.</p>

                <p><strong>Selected Countries Include:</strong> Austria, Bangladesh, Cambodia, Canada, Chile, China, Croatia, France, Germany, Greece, Hong Kong, Hungary, Indonesia, India, Ireland, Italy, Japan, Malaysia, Netherlands, New Zealand, Pakistan, Philippines, Poland, Singapore, South Africa, South Korea, Taiwan, Thailand, Turkey, United Kingdom, USA and Vietnam. 'yes' International rates apply for excess and non-included usage. See <a href="https://offer.optus.com.au/Redirect.aspx?EQ=syMhgU25vDPqhj7W1CGa5h-qmlDuK7Xiq5ZsREXNB9oj_ZxHftmW-EHJ_Q-E1w8cFucCsR7Sbxwf4Ng_drCGanG5QOYC_QM3-x0VAfra9rHujPRvzkSmeC-jB6h2-Odl07r1J-WDrJlxMvOH77V2DsXWdusL7KdPCDwla3a1tolBUqWhem-iw3Pfjk7VejlkC-1QWLnQhlcPBXniO7bdQ8qJKxEicoXox33usW7m1ggO-4wqhzDELvo4oJsvfny_XN8l-R7Kxkek0">optus.com.au/international</a>.</p>

                <p><strong>Data Pool:</strong> If you have more than one My Plan Plus (including SIM Only), My Plan Business (including SIM Only &amp; Tech Fund), My Mobile Broadband Plus or Mobile Broadband Business plan on the same billing account, the included monthly data allowance will combine into one data pool, which will be shared by all eligible services on that account. This data can also be shared with any existing Share Data Plan. Any unused data in the data pool expires at the end of each billing month.</p>

                <p><strong>Optus Travel™ Pack:</strong> Gives you unlimited standard national and international talk, SMS and up to 50MB of data to use in Zone 1 countries per day. For list of countries see <a href="https://offer.optus.com.au/Redirect.aspx?EQ=VIssoy2g5SPJpp1Xkf2a8c8oep_4KQNi6LsyncoVgZd0FCJu80IWIoytylxaiInoq-eORCC-amJ5QcIioZdzmPkB7scLtQ7_7g34t0BzOJBPLIIkOODBERSOqWxMY_9NPHnnfG8zwEEg49oZKrVHlXNrmZzCpcaVtO9KAN39u_egIQt5nUP29xDf0OMnKA06YExyOqfNdhgXdZrZj2tU6Y7i37k8-Wpqk1JrpNIu3_yyhkTwDTRIu1zdFNrEoddcAQU1">optus.com.au/travel</a>. You must activate each day of Optus Travel™ Pack prior to use and if you activate multiple consecutive days, the data allowance will accumulate for use anytime over the consecutive day period. If you exceed your daily or accumulated usage, standard data roaming charges will apply. You can also purchase additional Optus Travel™ Packs. Any data provided as part of an Optus Travel™ Pack is not shareable and will not form part of any Data Pool. Any un-used days of Optus Travel™ Pack are forfeited and cannot be rolled over to the next billing month.</p>

                <p><strong>Additional Data:</strong> Additional data automatically charged at $10/1GB. If you use more than 150GB we may continue to charge you at the same rates or restrict your data use until next billing period.</p>

                <p><strong>General:</strong> Fair Go policy applies. For more info, see our Critical Information Summaries which can be found at <a href="https://offer.optus.com.au/Redirect.aspx?EQ=yIM2MNaNiiuHumeQrdNvGwOx_nt9itFOlu_4kP1JYwbgI5Idv_TNFCr15RvSqs6j5UdSX-abOFfx4vzqSZVRc5Y2gu7Dtk4_uCCTXOR_BwSRjsy8tJaI8wRqLHvzzrqsO1FAWva0O5xIBn9msR41t3d1PahzDsBX-qqp1BCnPoupA5CflkClrYT1PWLshP2EBhaLEKZ6FAIpb34G7aBB6M7GllJEHoOqjUAaqi2lXgr3vMywYSLjRGSlPZ61i_o1">optus.com.au/cis</a> or pick one up in store.</p>

                <p><strong>Usage Alerts:</strong> Usage alerts are not real-time and delays of up to 48 hours may be experienced.</p>

                <p><strong>My Account:</strong> Services that share data may have a service login to My Account which will display all service numbers contributing or using the shared data pool on the account, and the amount each service has used. If you have more than 6 services on your account you may not be able to use My Account to monitor usage or add/change alerts.</p>

                <p><strong>COVERAGE:</strong> With 3G devices, you can access our 3G (UMTS 2100 MHz / 900 MHz) network. With 4G devices and a compatible plan, you can access our 3G network plus some or all of our 4G Plus network. Our 4G Plus network uses multiple frequencies (LTE 700 / 1800 / 2100 / 2300 / 2600 MHz) to provide coverage. Coverage availability will vary depending on your device and location. Check coverage at <a href="https://offer.optus.com.au/Redirect.aspx?EQ=y9c0T77NjbjG9aEafUGpXInwsMM7A35Daq9XEoCVisiLEIju3vsvDXlcLwB0BxQIgDRuw22B0NUHLNiLbw1E4hx7_IJW23mXNjNAWzrRV__ryNYdUaEKdhuLe5sfyjyFe5RE52OksUBzNia0RcFO9n7MUTF-szSl3X9voxnKxeNseVokqRYATp514ETILpymY6YxLK-NUXcbmXxO3SZY8WfKGQZNYBSq5bCziXIy5gZZZaV_gLeX3ULcs4m-hlgUPxpfCw2"><b>optus.com.au/coverage</b></a> based on your address and device.</p>

            </div>
        </div>
    </div>
</div>
-->
	<!-- Nitty Gritty Section-->
%%=ContentAreaByName("Shared items\Shared Contents\Microsites\Base Patterns\Footers\Get More Tile")=%%
%%=ContentAreaByName("Shared items\Shared Contents\Microsites\Base Patterns\Footers\Standard Footer")=%%
	<script type="text/javascript">	
		//START - CLICK TO CHAT BUTTON
		$(document).ready(function() {
			console.log('CLICK TO CHAT BUTTON')
			/**The following codes are for the fall back modal window to let users know that the chat window is already open, 
			please switch the window to chat 
			
				The codes contain the styling CSS and html codes to create the fall back modal window. And the solution was built for Signal to inject to the page, so the following codes will be injected to the footer section of the page.
			**/
			
			//Fall back Window codes
			$('footer').before('<style>.reveal-modal-bg1 { position: fixed; height: 100%; width: 100%; background: rgba(0,0,0,0.45); z-index: 98; top: 0; right: 0; left: 0; } #tfsDclButton-chat-container .close-reveal-modal { float:right; text-decoration:none; color:#000 } .reveal-modal1 {position: absolute;left: 50%;z-index: 99;height: auto;margin-left: -40%;width: 80%;background-color: #fff;padding: 1.25em;border: solid 1px #666;-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4); box-shadow: 0 0 10px rgba(0,0,0,0.4); top: 0;} @media only screen and (min-width: 500px){.reveal-modal1 { padding: 1.875em; top: -30.25em;}} @media only screen and (max-width: 500px){#tfsDclButton-chat-container p { display:block !important; }}</style><div class="container"><div class="row"><div class="col-md-12 columns"> <div class="row"> <div id="tfsDclButton-chat-container" style=" display: none;"> <div class="reveal-modal1"> <div class="row"> <a class="close-reveal-modal"><span class="ico teal ico-cross">&#160;</span></a> <div class="columns col-lg-12"> <h4 class="heading-tertiary full-width left">Chat is in progress! Please switch the window to talk to our consultant!</h4> </div></div></div><div class="reveal-modal-bg1"> &nbsp; </div></div></div></div></div></div>');
			
			/**
				This is a isMobile function to detect whether users are using mobile devices to visit the page, as we have two types of rule ID:
				one for mobile
				one for desktop
			**/
			var isMobile = {
				Android: function() {
					return navigator.userAgent.match(/Android/i);
				},
				BlackBerry: function() {
					return navigator.userAgent.match(/BlackBerry/i);
				},
				iOS: function() {
					return navigator.userAgent.match(/iPhone|iPad|iPod/i);
				},
				Opera: function() {
					return navigator.userAgent.match(/Opera Mini/i);
				},
				Windows: function() {
					return navigator.userAgent.match(/IEMobile/i);
				},
				any: function() {
					return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
				}
			};

			// These are closePopup functions to close or fadeOut the fall back modal window
			function closePopup() {
				$('#tfsDclButton-chat-container').fadeOut(200, function() {
					$('.reveal-modal-bg1').animate({opacity: 0}, 200, function(){
						$('.reveal-modal-bg1').attr('style', '');
					});
				});
			}
			$(document).on('click', '.close-reveal-modal, .reveal-modal-bg1', function() {
				closePopup();
			});
			
			//This function will detect users are using mobile devices or they are on desktop, there are different rule ID to be sent for mobile and desktop.
			function checkButon(buttonID) {
				if( isMobile.any() ){
					switch(buttonID) {
						case "chatTrigger1" :
							var _obj = {"rid":"AU_DB_SRVC_DIRECT_M_SRVFIX","qid":"optus-consumer-service-fixed","cxt":"RCP-fixed-cant-validate"};
							parent.window.tfsDclButtonCall(_obj); 
							break;
						case "chatTrigger2" :
							var _obj = {"rid":"AU_DB_SRVC_DIRECT_M_SRVFIX","qid":"optus-consumer-service-fixed","cxt":"RCP-fixed-forgot-your-details"};
							parent.window.tfsDclButtonCall(_obj); 
							break;
						default:
					}
				}
				else {
					switch(buttonID) {
						case "chatTrigger1" :
							var _obj = {"rid":"AU_DB_SRVC_DIRECT_D_SRVFIX","qid":"optus-consumer-service-fixed","cxt":"RCP-fixed-cant-validate"};
							console.log(_obj)
							parent.window.tfsDclButtonCall(_obj); 
							break;
						case "chatTrigger2" :
							var _obj = {"rid":"AU_DB_SRVC_DIRECT_D_SRVFIX","qid":"optus-consumer-service-fixed","cxt":"RCP-fixed-forgot-your-details"};
							parent.window.tfsDclButtonCall(_obj); 
							break;
						default:
					}
				}
			}

			// Optus has to listen to this tfsDclButtonCallReady function from 247 trigger in order to enable the chat button.
			//$(window).bind('tfsDclButtonCallReady', function() {
			setTimeout(function() {
				console.log('Triggered')
				//Detect which chat button is triggered and send that id to the trigger function
				$('body').on('click','.chatTrigger', function(e){
					e.preventDefault();
					
					// Id of the element that was clicked
					var elementId = $(this).data("trigger"); // Store the data of which button on page is clicked
					console.log(elementId)
					checkButon(elementId); // Pass the button ID to this function
				});
			}, 2000);
			
			//});
			
			
		});
		//END - CLICK TO CHAT BUTTON
	</script>
	<script type="text/javascript">
		var today = new Date();
		var today_year = today.getFullYear();
		var checkbox = 0;
		$('#privacy_check').change(function () {
			if ($(this).is(':checked')) {
				$('#privacy_read .checkbox').addClass('checked');
				$('#required_check').val(1);
				checkbox = 1;
				$('#privacy_error').hide();
			} else {
				$('#privacy_read .checkbox').removeClass('checked');
				checkbox = 0;
				$('#required_check').val('');
				$('#privacy_error').show();
			}
		});
		
		%%[ IF @SERVICE_CATEGORY == "HOME BROADBAND" OR @SERVICE_CATEGORY == "MOBILE BROADBAND" THEN ]%%
		$(document).ready(function(){
			var checkbox = 0;
			$('#privacy_check').change(function(){		
				if($(this).is(':checked')){
					$('#privacy_read .checkbox').addClass('checked');
					$('#required_check').val(1);
					checkbox = 1;
					$('#privacy_error').hide();
				}
				else {
					$('#privacy_read .checkbox').removeClass('checked');
					checkbox = 0;
					$('#required_check').val('');
					$('#privacy_error').show();
				}
			});
			var checkbox1 = 0;
			$('#account-holder').change(function(){		
				if($(this).is(':checked')){
					$('#account-holder-label .checkbox').addClass('checked');
					$('#account-holder').val(1);
					$('.accountHolderCheck').hide();
					checkbox1 = 1;
				}
				else {
					$('#account-holder-label .checkbox').removeClass('checked');
					$('.accountHolderCheck').show();
					checkbox1 = 0;
				}
			});
			
			$('#smb-holder').change(function(){		
				if($(this).is(':checked')){
					$('#smb-holder-label .checkbox').addClass('checked');
					$('#smb-holder').val(1);
				}
				else {
					$('#smb-holder-label .checkbox').removeClass('checked');
				}
			});
			
			$("#validate_details").click(function(e){

				e.preventDefault();
				var isFormValid1 = true;
				var day= $("#day").val();
				var month = $('#MonthOfBirth').val();
				var year = $('#year').val();
				
				var mobile = $('#msn').val();
				if(mobile.length==0)
				{		
					$( ".RMSNError" ).show(); 
					isFormValid1 = false;
				}
				else {
					$( ".RMSNError" ).hide(); 
				}
				
				var postcode = $('#postcode').val();
				if(postcode.length==0)
				{		
					$( "#postcodeError" ).show(); 
					isFormValid1 = false;
				}
				else {
					$( "#postcodeError" ).hide(); 
				}
				
				if(day == '' || month == '' || year == ''){
					$('#DOBemp').show();
					isFormValid1 = false;
				}
				else {
					$('#DOBemp').hide();
				}
				
				if(day>31 ||  day<1)
				{
					$('#InvalidError').show();
					isFormValid1 = false;
				}
				else
				{
					$('#InvalidError').hide();
				}
				var year= $("#year").val();

				if(year>2015 ||  year<1900)
				{
					$('#InvalidError').show();
					isFormValid1 = false;

				}
				else
				{
					$('#InvalidError').hide();
				}

				if(!isFormValid1){
					return false; 
				}
				else if ($('#account-holder').is(':checked')) {
					$('.accountHolderCheck').hide();
					//$("#formone").submit();
				}
				else {
					$('.accountHolderCheck').show();
					return false;
				}
				
				if(!checkbox){
					$('#privacy_error').show();
					return false;
				}
				else if(!checkbox1){
					$('.accountHolderCheck').show();
					return false;
				}
				else{
					$('#formone').submit();
				}
			});
														
			$('.submit_form').click(function(){
				var email = $('#Email_mobile50').val();
				if(!isValidEmailAddress(email)){
					$('.emailError').show();
					return false;
				}
				else {
					$('.emailError').hide();
				}
			});

			
			var month_val = "%%=v(@month)=%%";
			if(month_val.trim() != ''){
				$('#MonthOfBirth').val(month_val);
			}
			
		});	
		function isValidEmailAddress(emailAddress) {
			var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
			return pattern.test(emailAddress);
		};	
		%%[ ENDIF ]%%
		
		
		$(document).ready(function () {
			$('.custom.dropdown a').click(function (e) {
				e.preventDefault();
				if ($(this).parent().hasClass('disabled')){
					return false;
				}
				else if ($(this).parent().hasClass('open')) {
					$('.custom.dropdown').removeClass('open');
				} else {
					$('.custom.dropdown').removeClass('open');
					$(this).parent().addClass('open');
				}
			});

			$('.custom-list li').click(function () {
				var choice = choice = $(this).text();
				var value = $(this).data('value');
				if (value == null) {
					value = choice;
				}

				$(this).parent().find('li').removeClass('selected');
				$(this).addClass('selected');
				$(this).closest('.custom.dropdown').find('.current').text(choice);
				$(this).closest('.custom.dropdown').removeClass('open');
				$(this).closest('.custom.dropdown').parent().find('select').val(value);

			});
			
			$('#accordion').accordion({
				collapsible: true,
				header: "li > a",
				animate: 300,
				heightStyle: "content",
				active: "false"
			});
		
			$("#nittyGritty, .accordion").accordion({
				 collapsible: true,
				 active: false,
				 heightStyle: "content"
			});
			
			$('.yes-tile .ico').html('');
			
			$('#msn').keydown(function(e){
				if (e.which === 32) {
					return false;    
				}
			});
			
			$('input#msn').keyup(function(e){
				$('.usernameError').remove();
  				if( $(this).val().indexOf('@') > 0){
					$(this).after('<div class="usernameError" style="color:#ff5a5f;margin:1em 0;">When entering your username, do not include @optusnet.com.au</div>');
				}
			});

		});
		
		
		$(document).mouseup(function(e){
			var container = $('.custom.dropdown');

			if (!container.is(e.target) // if the target of the click isn't the container...
				&& container.has(e.target).length === 0) // ... nor a descendant of the container
			{
				container.removeClass('open');
			}
		});

		$('.important-notes').click(function() {
			$(this).find('.ico-arrow-down').toggle();
			$(this).find('.ico-arrow-up').toggle();
		});

		$(window).load(function() {
			$('.on-load').remove();
			$('.load-to-show').show();
			loadVal();
		});
		
		
		function loadVal(){
			$('select').each(function(){
				var value = $(this).val();
				$(this).parent().find('.custom.dropdown .custom-list li[data-value="'+value+'"]').click();
			});
			$('input:checkbox:checked').change();
		}

		
	</script>
<script language="JavaScript" type="text/javascript" src="https://offer.optus.com.au/s_code/"></script>
<!-- Signal Tag Manager --> 
	<script type="text/javascript">
		  (function () {
			var tagjs = document.createElement("script");
			var s = document.getElementsByTagName("script")[0];
			tagjs.async = true;
			tagjs.src = "//s.btstatic.com/tag.js#site=fhoTFvg";
			s.parentNode.insertBefore(tagjs, s);
		  }());
		</script>
	<noscript>
	<iframe src="//s.thebrighttag.com/iframe?c=fhoTFvg" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
	</noscript>
	<!-- End Signal Tag Manager -->
</body>
</html>